<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        EMPLOYEE RECORD<br>
        Name 1: {{name1}}<br>
        <span v-if="name2">Name 2: {{name2}}<br></span>
        Surname: {{surname}}<br>
        <span v-if="!foreigner">Pesel: {{pesel}}<br></span>
        <span v-else>Nationality: {{nationality}}<br></span>
        Address: {{address}}
    </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name1: 'John',
        name2: null,
        surname: 'Brown',
        foreigner: true,
        nationality: 'USA',
        pesel: null,
        address: 'Holland Drive 4, Chicago',
    }});
  </script>

</body>
</html>